$var title: Automated Greenhouse Environment
<h4>An ECE455 Project by John Murray and Jamie Finney</h4>

<p>This project combines the sensing and communication capabilities of the Telos B motes, with a UDOO to handle data to provide an automation and monitoring solution for greenhouses and gardens. An Android application will also be created to allow for remote data visualization, modify environmental specification, and receive optional notifications. The project aims to be an inexpensive, effective, reliable, extensible, and open solution.</p>

<p> Click <a href='/log'>here</a> for the raw data.</p>
<p> Click <a href='https://writelatex.s3.amazonaws.com/wxhfpvdcndss/output/7dca5160772fc60d0e9e025241c5f60101c81d27/ece455-final-project.pdf'>here</a> to save a copy of our project report in pdf format.</p>
